/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/


iframe html, iframe body, iframe div, iframe span, iframe object, iframe,
iframe h1, iframe h2, iframe h3, iframe h4, iframe h5, iframe h6, iframe p, iframe blockquote, iframe pre,
iframe abbr, iframe address, iframe cite, iframe code,
iframe del, iframe dfn, iframe em, iframe img, iframe ins, iframe kbd, iframe q, iframe samp,
iframe small, iframe strong, iframe sub, iframe sup, iframe var,
iframe b, iframe i,
iframe dl, iframe dt, iframe dd, iframe ol, iframe ul, iframe li,
iframe fieldset, iframe form, iframe label, iframe legend,
iframe table, iframe caption, iframe tbody, iframe tfoot, iframe thead, iframe tr, iframe th, iframe td,
iframe article, iframe aside, iframe canvas, iframe details, iframe figcaption, iframe figure, 
iframe footer, iframe header, iframe hgroup, iframe menu, iframe nav, iframe section, iframe summary,
iframe time, iframe mark, iframe audio, iframe video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}


iframe {
    line-height:1;
}


article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}